
<div id="logout" >
<form action="/logout">
	<button class="userbutton" action="/logout">Logout</button>
</form>
</div>

<div id = "dropdown">
	<br></br>
	<label class="lb">Class_</label>
	<select class = "dd" name="course_id">
		<% for(var i=0; i < courses.length; i++) { %>
		   <option value=<%= courses[i].course_id %> >
		     <%= courses[i].course_name %>
		   </option>
		<% } %>
	</select>
	<br></br>
	<label class = "lb">Week_</label>
	<select class="dd" name = "week">
	
		<option value=0>
			All Weeks
		</option>
		<% for(var i=1; i < 13; i++) { %>
		   <option value= <%= i %>>
		     <%= i %>
		   </option>
		<% } %>
	</select>
	<br></br>
	<label class="lb">Option</label>
	<select class="dd" name = "reporttype">
		<option value=>


		</option>
	</select>
	<br></br>
	</div>