
<div id = "loginwrapper">
	<form action="/login" method = "post" id="loginform">
		<div>
			<input type="text" id= "emailform" placeholder = "Enter Email" name = "email" required="">
		</div>
		<div>
			<input type="password" id = "passwordform" placeholder = "Enter Password" name = "pword" required="">
		</div>
		<button type="submit" id="loginbutton">Login</button>
		<br></br>
		
		
	</form>
</div>


<div id="alert">
		<% if (req.session.flash && req.session.flash.error) { %><%=req.flash('error')%><% } %>
		</div>
