
<div id="logout" >
    <a class ="userbutton" href="/logout">Logout</a>
</div>


<div id="commentswrapper">
<br></br>
    <table>
    <tr>
    <th>Question detail</th>
    <th class="numbertable">Mean response</th>
    </tr>
<% for(var i=0; i < 5; i++) { %>
    <tr>
    <td><%= questions[i] %></td>
    <td class="numbertable"><%= response["ratio"][i].toFixed(2) %></td>
    </tr>
<% } %> 
    </table>

    <br></br>
    ...Total number of responses is <%= response.total %>
<br></br>
</div>

<br></br>
<a href="javascript:history.back()" class = "userbutton">Create another report</a>
